# enable command auto-correction
setopt CORRECT

# enable command history
HISTSIZE=1000
SAVEHIST=1000
HISTFILE=~/.zsh_history

# homebrew and path hacking 
eval "$(/opt/homebrew/bin/brew shellenv)"
export PATH="$(brew --prefix coreutils)/libexec/gnubin:$PATH"

# nvm
eval "$(nodenv init - zsh)"
export PATH="$(nodenv root)/shims:$PATH"

# rust
source "$HOME/.cargo/env"

# starship
eval "$(starship init zsh)"

# rbenv
eval "$(rbenv init -)"
export PATH="$(rbenv root)/shims:$PATH"

# pyenv
eval "$(pyenv init -)"
export PATH="$(pyenv root)/shims:$PATH"

# kubernetes
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

# load functions and aliases
for file in ~/.{exports,aliases,functions,work}; do
  [ -r "$file" ] && source "$file"
done
unset file

# shell configuration
setopt promptsubst

# initialize and load Zsh autocompletion
autoload -Uz +X compinit && compinit

# case-insensitive path-completion
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}'

# enable menu-based selection of completion options
zstyle ':completion:*' menu select

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/Users/brandon/miniconda3/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/Users/brandon/miniconda3/etc/profile.d/conda.sh" ]; then
        . "/Users/brandon/miniconda3/etc/profile.d/conda.sh"
    else
        export PATH="/Users/brandon/miniconda3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

