#!/bin/bash

# homebrew and path hacking 
eval "$(/opt/homebrew/bin/brew shellenv)"
export PATH="$(brew --prefix coreutils)/libexec/gnubin:$PATH"
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

# nvm
NVM_PATH=$(brew --prefix nvm)
export NVM_DIR="$HOME/.nvm"
  [ -s "$NVM_PATH/nvm.sh" ] && \. "$NVM_PATH/nvm.sh"  # This loads nvm
  [ -s "$NVM_PATH/etc/bash_completion.d/nvm" ] && \. "$NVM_PATH/etc/bash_completion.d/nvm"

# go
export PATH="$GOPATH/bin:$PATH"

# rust
source "$HOME/.cargo/env"

# starship initialization
eval "$(starship init zsh)"

# rbenv
eval "$(rbenv init -)"

for file in ~/.{exports,aliases,functions,work}; do
  [ -r "$file" ] && source "$file"
done
unset file

# shell plugins
plugins=(
  aws
  bundler
  dotenv
  direnv
  gcloud
  git
  github
  golang
  kubectx
  macos
  node
  npm
  nvm
  poetry
  poetry-env
  python
  rake
  rbenv
  ruby
  rust
  sublime
  sudo
  terraform
  tmux
)

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/Users/brandon/miniconda3/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/Users/brandon/miniconda3/etc/profile.d/conda.sh" ]; then
        . "/Users/brandon/miniconda3/etc/profile.d/conda.sh"
    else
        export PATH="/Users/brandon/miniconda3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

