#!/bin/bash

# General
export LC_ALL="en_US.UTF-8"
export LANG="en_US"
export EDITOR="sublime -w"
export ed="sublime -w"

# RSpec
export AUTOFEATURE=true
export RSPEC=true

# Go
export GOPATH="$HOME/.go"

# TMUX
export DISABLE_AUTO_TITLE=true

# Open Interpreter Setup
if [ -f ~/.config/open-interpreter ]; then
    export OPENAI_API_KEY="$(cat ~/.config/open-interpreter)"
fi
