#!/bin/bash

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# homebrew and path hacking 
eval "$(/opt/homebrew/bin/brew shellenv)"
export PATH="$(brew --prefix coreutils)/libexec/gnubin:$PATH"
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

# nvm
NVM_PATH=$(brew --prefix nvm)
export NVM_DIR="$HOME/.nvm"
  [ -s "$NVM_PATH/nvm.sh" ] && \. "$NVM_PATH/nvm.sh"  # This loads nvm
  [ -s "$NVM_PATH/etc/bash_completion.d/nvm" ] && \. "$NVM_PATH/etc/bash_completion.d/nvm"

# go
export PATH="$GOPATH/bin:$PATH"

# rbenv
eval "$(rbenv init -)"

# oh-my-zsh installation.
DISABLE_AUTO_UPDATE="true"
COMPLETION_WAITING_DOTS="true"
export ZSH="$HOME/.oh-my-zsh"
plugins=(git z docker npm sudo extract command-not-found colored-man-pages copy-file copy-dir copybuffer golang python tmux)
source $ZSH/oh-my-zsh.sh

# shell theme
source ~$(brew --prefix romkatv/powerlevel10k/powerlevel10k)/powerlevel10k.zsh-theme

for file in ~/.{exports,aliases,functions,work}; do
  [ -r "$file" ] && source "$file"
done
unset file
