#!/bin/zsh

# XDG Base Directory Specification
# These need to be set early so other applications can use them
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"