#!/bin/bash

# General
export LC_ALL="en_US.UTF-8"
export LANG="en_US"
export EDITOR="code"
export GIT_EDITOR=vim

# RSpec
export AUTOFEATURE=true
export RSPEC=true

# Go
export GOPATH="$HOME/.go"

# TMUX
export DISABLE_AUTO_TITLE=true

# OpenAI Credentials
if [ -f ~/.config/openai ]; then
    export OPENAI_API_KEY="$(< ~/.config/openai)"
fi
