{{ if eq (env "LOCATION" | trim) "test" }}
OPENAI_KEY=somevalue
{{ else }}
OPENAI_KEY={{ (onepasswordItemFields "q2aq6ursyvkrjzpmcvpu5t73ci").token.value }}
{{ end -}}
model=gpt-3.5-turbo
type=conventional
max-length=100
