[core]
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
  excludesfile = ~/.config/git/ignore
  
[help]
  autocorrect = -1

[user]
  email = {{ (onepasswordDetailsFields "5kaq6gish5gkbcl4dyrp2oy2ue").username.value }}
  name  = Brandon Black
  signingkey = {{ (onepasswordDetailsFields "odb55usvohvjx52wh3gzwpbira").public_key.value }}

[github]
  user = {{ (onepasswordItemFields "5kaq6gish5gkbcl4dyrp2oy2ue").handle.value }}

[push]
  default = tracking

[branch]
  autosetuprebase = always

[rerere]
  enabled = 1

[color]
  ui          = 1
  interactive = 1

[hub]
  http-clone = false
  protocol   = https

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
  insteadOf = "github:"

[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
  insteadOf = "gist:"

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true