# MongoDB
alias mtail="tail -f /data/db/current/mongod.log"
alias mongo='mongosh'
alias mongod='mongod --config /usr/local/etc/mongod.conf'
alias mongostop='mongo admin --eval "db.shutdownServer()"'
alias mongostart='mongod --config /usr/local/etc/mongod.conf --fork'
alias mongorestart='mongostop && mongostart'
alias mongostat='mongostat --rowcount 0'
alias mongotop='mongotop'
alias mongodump='mongodump --out /tmp/mongodump'
alias mongorestore='mongorestore /tmp/mongodump'
