# Ruby
alias rake="noglob rake"
alias bundle="noglob bundle"

# Bundler
alias bi="bundle install -j8"
alias bu="bundle update"
alias be="bundle exec"
alias bv="bundle viz"

# Python
alias python="python3"
alias pip="pip3"
alias pys="python3 -m http.server"
alias ipy="ipython"
alias jn="jupyter notebook"

# Virtualenv
alias venv="python3 -m venv"
alias vact="source bin/activate"
alias vdeact="deactivate"
alias vrm="rm -rf bin include lib lib64 share pyvenv.cfg"

# Node Package Manager
alias ni="npm install"
alias ns="npm start"
alias nt="npm test"
alias nr="npm run"
alias nu="npm update"
alias nun="npm uninstall"
alias nin="npm init"
alias np="npm publish"

# Rust
alias ca="cargo add"
alias cb="cargo build"
alias cc="cargo check"
alias cf="cargo fmt"
alias cg="cargo generate"
alias ci="cargo install"
alias cl="cargo clippy"
alias cn="cargo new"
alias co="cargo outdated"
alias cr="cargo run"
alias cs="cargo search"
alias ct="cargo test"
alias cu="cargo update"
alias cv="cargo version"
alias cw="cargo watch"

# Go
alias g="go"
alias gb="go build"
alias gr="go run"
alias gt="go test"
alias gi="go install"
alias gf="go fmt"
alias gd="go doc"
alias gg="go get"
alias gm="go mod tidy"

# Make
alias m="make"
alias mc="make clean"
alias mi="make install"
alias mt="make test"
alias md="make dist"
alias mdcl="make distclean"
