# Kubernetes
alias k="kubectl"
alias kgp="kubectl get pods"
alias kgs="kubectl get svc"
alias kgc="kubectl get componentstatuses"
alias kctx="kubectl config current-context"
alias kcon="kubectl config use-context"
alias kgc="kubectl config get-contexts"
alias kdelp="kubectl delete pods"
alias kdes="kubectl describe"
alias kaf="kubectl apply -f"
alias kgd="kubectl get deployments"
alias kgds="kubectl get ds"
alias kgn="kubectl get nodes"
alias klogs="kubectl logs"
