# Request Authoring
alias wget="wget2"

# Curl shortcuts
alias get="curl -X GET"
alias post="curl -X POST"
alias put="curl -X PUT"
alias delete="curl -X DELETE"
alias patch="curl -X PATCH"
alias head="curl -I"
alias json="curl -H 'Content-Type: application/json'"
alias curl-time="curl -w '@-' -o /dev/null -s"
alias curl-headers="curl -D- -o /dev/null -s"
alias curl-follow="curl -L"
alias curl-silent="curl -s"
alias curl-verbose="curl -v"
alias curl-download="curl -O"
alias curl-resume="curl -C -"

# DNS and IP Addresses
alias ip='echo "\nLocal IPs:" && ifconfig | grep "inet " | awk '\''{
printf "\t%s\n", $2}'\'' && echo "External IP:" && curl -s ipinfo.io/ip | awk '\''{
printf "\t%s\n", $0}'\''\;'
alias whois="whois -h whois-servers.net"
