# General Terminal
alias h="history"
alias c="clear"
alias top="htop"

# Tmux
alias t="tmux"
alias tn="tmux new-session -s"
alias ta="tmux attach-session -t"
alias tls="tmux list-sessions"
alias tk="tmux kill-session -t"
alias td="tmux detach"