# Git
alias git="git"
alias gb="git branch"
alias gbr="git branch --remote"
alias gba="git branch --all"
alias gco="git checkout"
alias gcob="git checkout -b"
alias gd="git diff"
alias gs="git status"

# GitHub
alias ghpr="gh pr create"
alias ghprs="gh pr status"
alias ghprv="gh pr view"
alias ghprc="gh pr checkout"
alias ghprm="gh pr merge"
alias ghrepo="gh repo view"
alias ghissue="gh issue create"
alias ghissues="gh issue list"