# Listen on loopback
listen-address=127.0.0.1,::1

# Basic hygiene
domain-needed
bogus-priv
no-hosts

# Keep .test local only
local=/test/

# Send all *.test to localhost
address=/.test/127.0.0.1
address=/.test/::1

# NextDNS upstream (fetched from 1Password)
server=45.90.28.0#{{ (onepasswordDetailsFields "uwcib3hf6jjqvcfcjv4qiepamu").id.value }}.dns.nextdns.io
server=45.90.30.0#{{ (onepasswordDetailsFields "uwcib3hf6jjqvcfcjv4qiepamu").id.value }}.dns.nextdns.io

# Cache
cache-size=10000

# Optional logs
# log-queries
# log-facility=/var/log/dnsmasq.log
